.border_1{
  border: 3px solid rgb(246, 180, 15);
  border-radius: 180px;
}
h1{
color: rgb(184, 134, 11);
font-size: 20px;
justify-items: center;
}
.zoom {
transition: 1s;
}
.zoom:hover {
transform: scale(1.1);
color: rgb(255, 255, 255);
}
.underline-on-hover:hover {
text-decoration: underline;
color: rgb(184, 134, 11);

}