.background-admin{
    background-color: rgb(42, 42, 42);
}

.underline-on-hover {
    text-decoration: underline;
}
.text{
    color: rgb(223, 164, 0);
}
.text_data{
    color: rgb(255, 255, 255);

}