
.leftElements {
    margin-left: 20px;
}
.rightElements {
    margin-right: 10px;
}
.zoom {
    transition: 1s;
}
.zoom:hover {
    transform: scale(1.55);
    color: rgb(255, 255, 255);
}
.underline-on-hover:hover {
    text-decoration: underline;
}
.button {
    margin-right: 20px;
}
.logo {
    max-width: 150px;
    max-height: 150px;

}
.nav-backround {
background-image: url("../images/fondo.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.fonts{
    color: rgb(223, 164, 0);
}
.brands{
    font-size: 65px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.size-navbar{
    height: 130px;

}